/* Creating different styles using CSS*/

body {
    font-family: arial;
    background-color: rgb(185,179,175);
}

h1,h2 {
    font-family: Arial, Verdana, sans-serif;
    color: #ee3e80
}

h8,h11 {
   font-family: Georgia, 'Times New Roman', Times, serif;
    color:#1155a3
}

p {
    color: #dd0b0b;
}